/* filter */
.add_search__filter {
    display: flex;
    gap: 0.5rem;
    padding: 18px 40px;
    border-radius: 25px;
    background-color: var(--grey-scale-10);
    flex-direction: column;
}

.add_search__filter__element {
    display: inline-block;
    align-items: center;
    gap: 1rem;
}

.add_search__filter label {
    font: var(--text-md);
    color: var(--grey-scale-90);
    margin-right: 20px
}

.add_input-container {
    display: flex;
    margin-top: 10px;
}

.add_input {
    width: 300px;
    margin-right: 20px;
    padding: 10px 16px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: var(--grey-scale-15);
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    
}

.add_search__button {
    height: 100%;
    padding: 0 18px;
    border-radius: 50px;
    border:none;
    outline:none;
    background-color: var(--primary-blue);
    font: var(--text-sm);
    color: var(--grey-scale-transparent-2);
    cursor: pointer;
}

.add_search__button:active {
    filter: brightness(1.2);
}


/*��� ���� ��*/
.add__list {
    padding: 40px;
    border-radius: 25px;
    background-color: var(--grey-scale-10);
}

.add__button {
    padding: 4px 14px;
    border-radius: 50px;
    background-color: var(--primary-blue);
    border: none;
    outline: none;
    font: var(--text-sm);
    color: var(--grey-scale-transparent-2);
    cursor: pointer;
}

.add__button:active {
    filter: brightness(1.2);
}