.cancel__list {
    padding: 40px;
    border-radius: 25px;
    background-color: var(--grey-scale-10);
}

.cancel__button {
    padding: 4px 14px;
    border-radius: 50px;
    background-color: var(--primary-blue);
    border: none;
    outline: none;
    font: var(--text-sm);
    color: var(--grey-scale-transparent-2);
    cursor: pointer;
}

.cancel__button:active {
    filter: brightness(1.2);
}