.upload_form {
    padding: 40px;
    border-radius: 25px;
    background-color: var(--grey-scale-10);
}

.file_upload {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.file_upload input[type="file"] {
    display: none;
}

.file_name {
    width: 300px;
    margin-right: 20px;
    padding: 10px 16px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: var(--grey-scale-15);
    color: var(--grey-scale-75);
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    
}

.file_upload label {
    background-color: var(--primary-blue);
    color:  var(--grey-scale-transparent-2);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font: var(--text-sm);
}

.upload {
	display: flex;
    justify-content: center;
}
.create__button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--primary-blue);
    border: none;
    outline: none;
    font: var(--text-sm);
    color: var(--grey-scale-transparent-2);
    cursor: pointer;
}

.create__button:active {
    filter: brightness(1.2);
}