@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
    /* color */
    --primary-navi: #042131;
    --primary-blue: #3f5a7a;
    --primary-skyblue: rgba(204, 207, 224, 0.5);

    --grey-scale-0: #ffffff;
    --grey-scale-10: #fbfbfb;
    --grey-scale-15: #eeeeee;
    --grey-scale-20: #a9bac6;
    --grey-scale-30: #92a5b3;
    --grey-scale-75: #3e4e5b;
    --grey-scale-90: #22323b;
    --grey-scale-transparent: rgba(255, 255, 255, 0.7);
    --grey-scale-transparent-2: rgba(255, 255, 255, 0.9);
    --grey-scale-table: #F5F5F5;
    --grey-scale-table-line: #E7EAF2;


    /* font */
    --title-exlg: 700 32px 'Pretendard', sans-serif;
    --title-lg: 600 24px 'Pretendard', sans-serif;
    --title-md: 600 18px 'Pretendard', sans-serif;

    --text-exlg: 400 24px 'Pretendard', sans-serif;
    --text-lg: 400 20px 'Pretendard', sans-serif;
    --text-md: 400 16px 'Pretendard', sans-serif;
    --text-md-emphasis: 600 16px 'Pretendard', sans-serif;
    --text-sm: 400 14px 'Pretendard', sans-serif;
    --text-exsm: 400 13px 'Pretendard', sans-serif;
    --text-exsm-emphasis: 600 13px 'Pretendard', sans-serif;


    --label-md: 500 14px 'Pretendard', sans-serif;
    --label-sm: 500 12px 'Pretendard', sans-serif;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    background: linear-gradient(0deg, rgba(204, 207, 224, 0.5), rgba(204, 207, 224, 0.5)), #FFFFFF;
    margin: 0;
}

#root {
    display: flex;
    gap: 2rem;
    padding: 21px;
}

#content {
    flex: 1;
    display: flex;
    gap: 24px;
}

.content__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.table {
    /*width: 800px;*/
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border-right: 1px solid var(--grey-scale-table-line);
    border-bottom: 1px solid var(--grey-scale-table-line);
    text-align: center;
    overflow: auto;
    /*white-space: nowrap;*/
}

.table__header {
    position: sticky;
    top: 0;
    background-color: var(--grey-scale-table);
}

.table__cell {
    height: 35px;
    border-top: 1px solid var(--grey-scale-table-line);
    border-left: 1px solid var(--grey-scale-table-line);
    font: var(--text-exsm);
    color: var(--grey-scale-90);
}