.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.menu__item1 {
    background-image: url('../image/main_title_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.menu__item1 h1, .menu__item1 h6 {
    color: white;
}

.menu__item1 h1 {
    margin-bottom: 20px;
}

.menu__item2,
.menu__item3,
.menu__item4,
.menu__item5,
.menu__item6 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
    border-radius: 25px;
    background-color: var(--grey-scale-10);
    /*margin-left: 10px;*/
}

.menu__item2 img,
.menu__item3 img,
.menu__item4 img,
.menu__item5 img,
.menu__item6 img {
    width: 85%;
    padding-bottom: -40px;
}

.menu__item2 li,
.menu__item3 li,
.menu__item4 li,
.menu__item5 li,
.menu__item6 li {
    padding: 5px;
}

.menu__item2 p,
.menu__item3 p,
.menu__item4 p,
.menu__item5 p,
.menu__item6 p
{
    font: var(--title-md);
    padding-bottom:10px;
}