/* filter */
.search__filter {
    display: flex;
    gap: 1rem;
    padding: 18px 40px;
    border-radius: 25px;
    background-color: var(--grey-scale-10);
}

.search__filter__element {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search__filter label {
    font: var(--text-md);
    color: var(--grey-scale-90);
}

.search__filter select {
    width: 240px;
    padding: 10px 16px;
    border: none;
    border-radius: 50px;
    outline: none;
    background:url('../assets/down_arrow.svg') no-repeat 95% 50%/12px auto;
    background-color: var(--grey-scale-15);
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
}

.search__button {
    height: 100%;
    padding: 0 18px;
    border-radius: 50px;
    border:none;
    outline:none;
    background-color: var(--primary-blue);
    font: var(--text-sm);
    color: var(--grey-scale-transparent-2);
    cursor: pointer;
}

.search__button:active {
    filter: brightness(1.2);
}

/* result */
.search__result {
    padding: 40px;
    border-radius: 25px;
    background-color: var(--grey-scale-10);
}