.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 10px;
    width: 220px;
    height: 100vh;
    min-height: 750px;
    max-height: 980px;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: var(--primary-navi);
    box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.2);
    color: var(--grey-scale-transparent);
}

.sidebar__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 3rem;
    color: var(--grey-scale-transparent-2);
    font: var(--title-lg);
    cursor: pointer;
}

.sidebar__header img {
    width: 40px;
}

.sidebar__menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar__menu {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: 15px;
    padding: 10px 0 10px 1rem;
    cursor: pointer;
    transition: 300ms background-color ease-out;
    font: var(--text-md);
}

.sidebar__menu.selected {
    background-color: var(--primary-blue);
    color: var(--grey-scale-0);
}

.sidebar__menu:hover {
    background-color: var(--primary-blue);
}

.sidebar__logout {
    display: flex;
    gap: 0.75rem;
    padding: 10px 1rem;
    color: var(--grey-scale-transparent);
    cursor: pointer;
}